@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";

body {
    font-family: sans-serif;
    text-align: center;
    overflow:auto;
    width: 300px;
    height: 300px;
}